@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Transaction Practice</h1>
    <p>
        練習三層式交易流程請前往
        <a asp-controller="Transfer" asp-action="Index">Transfer 頁面</a>
    </p>
</div>
